
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header" onClick="loadContent('ustawienia')"><i class="fa fa-gear"></i> Ustawienia</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                                
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6 col-lg-offset-3">
                                    <div class="table-responsive">
                                        <h3>Zmiana hasła</h3>
                                        <div class="alert alert-success">Hasło zostało zmienione</div>
                                    </div>
                                </div> 
                            </div> 
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

 