
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"><i class="fa fa-tags"></i> Tickety działu</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Agent</th>
                                        <th>Ticket id</th>
                                        <th>Status</th>
                                        <th>Priorytet</th>
                                        <th>Przewidywany czas realizacji</th>
                                        <th>Data rozwiązania</th>
                                        <th>Kategoria</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Jan Kowalski</td>
                                        <td><a class="ticket-link" href="#" onClick="loadContent('ticket_5444')">2351</a></td>
                                        <td style="text-align:center"><span class="label label-default">&nbsp;</span></td>
                                        <td style="text-align:center"><span class="label label-danger">Wysoki</span></td>
                                        <td>2016/01/30</td>
                                        <td></td>
                                        <td>Kategoria 1</td>   
                                    </tr>
                                    <tr>
                                        <td>Magdalena Nowak</td>
                                        <td><a class="ticket-link" href="#"  onClick="loadContent('ticket_5444')">3653</a></td>
                                        <td style="text-align:center"><span class="label label-warning">&nbsp;</span></td>
                                        <td style="text-align:center"><span class="label label-warning">Średni</span></td>
                                        <td>2016/01/27</td>
                                        <td></td>
                                        <td>Kategoria 2</td> 
                                    </tr>
                                    <tr>
                                        <td>Łukasz Szafraniec</td>
                                        <td><a class="ticket-link" href="#"  onClick="loadContent('ticket_5444')">6311</a></td>
                                        <td style="text-align:center"><span class="label" style="background: black;">&nbsp;</span></td>
                                        <td style="text-align:center"><span class="label label-danger">Wysoki</span></td>
                                        <td>2016/01/23</td>
                                        <td>2016/01/23</td> 
                                        <td>Kategoria 2</td> 
                                    </tr>
                                    <tr>
                                        <td>Elżbieta Pacha</td>
                                        <td><a class="ticket-link" href="#"  onClick="loadContent('ticket_5444')">5444</a></td>
                                        <td style="text-align:center"><span class="label label-danger">&nbsp;</span></td>
                                        <td style="text-align:center"><span class="label label-success">Niski</span></td>
                                        <td>2016/01/25</td>
                                        <td></td> 
                                        <td>Kategoria 3</td> 
                                    </tr>
                                    <tr>
                                        <td>Jan Kowalski</td>
                                        <td><a class="ticket-link" href="#" onClick="loadContent('ticket_5444')">2351</a></td>
                                        <td style="text-align:center"><span class="label label-default">&nbsp;</span></td>
                                        <td style="text-align:center"><span class="label label-danger">Wysoki</span></td>
                                        <td>2016/01/30</td>
                                        <td></td>
                                        <td>Kategoria 1</td>   
                                    </tr>
                                    <tr>
                                        <td>Magdalena Nowak</td>
                                        <td><a class="ticket-link" href="#"  onClick="loadContent('ticket_5444')">3653</a></td>
                                        <td style="text-align:center"><span class="label label-warning">&nbsp;</span></td>
                                        <td style="text-align:center"><span class="label label-warning">Średni</span></td>
                                        <td>2016/01/27</td>
                                        <td></td>
                                        <td>Kategoria 2</td> 
                                    </tr>
                                    <tr>
                                        <td>Łukasz Szafraniec</td>
                                        <td><a class="ticket-link" href="#"  onClick="loadContent('ticket_5444')">6311</a></td>
                                        <td style="text-align:center"><span class="label" style="background: black;">&nbsp;</span></td>
                                        <td style="text-align:center"><span class="label label-danger">Wysoki</span></td>
                                        <td>2016/01/23</td>
                                        <td>2016/01/23</td> 
                                        <td>Kategoria 2</td> 
                                    </tr>
                                    <tr>
                                        <td>Elżbieta Pacha</td>
                                        <td><a class="ticket-link" href="#"  onClick="loadContent('ticket_5444')">5444</a></td>
                                        <td style="text-align:center"><span class="label label-danger">&nbsp;</span></td>
                                        <td style="text-align:center"><span class="label label-success">Niski</span></td>
                                        <td>2016/01/25</td>
                                        <td></td> 
                                        <td>Kategoria 3</td> 
                                    </tr>
                                    <tr>
                                        <td>Jan Kowalski</td>
                                        <td><a class="ticket-link" href="#" onClick="loadContent('ticket_5444')">2351</a></td>
                                        <td style="text-align:center"><span class="label label-default">&nbsp;</span></td>
                                        <td style="text-align:center"><span class="label label-danger">Wysoki</span></td>
                                        <td>2016/01/30</td>
                                        <td></td>
                                        <td>Kategoria 1</td>   
                                    </tr>
                                    <tr>
                                        <td>Magdalena Nowak</td>
                                        <td><a class="ticket-link" href="#"  onClick="loadContent('ticket_5444')">3653</a></td>
                                        <td style="text-align:center"><span class="label label-warning">&nbsp;</span></td>
                                        <td style="text-align:center"><span class="label label-warning">Średni</span></td>
                                        <td>2016/01/27</td>
                                        <td></td>
                                        <td>Kategoria 2</td> 
                                    </tr>
                                    <tr>
                                        <td>Łukasz Szafraniec</td>
                                        <td><a class="ticket-link" href="#"  onClick="loadContent('ticket_5444')">6311</a></td>
                                        <td style="text-align:center"><span class="label" style="background: black;">&nbsp;</span></td>
                                        <td style="text-align:center"><span class="label label-danger">Wysoki</span></td>
                                        <td>2016/01/23</td>
                                        <td>2016/01/23</td> 
                                        <td>Kategoria 2</td> 
                                    </tr>
                                    <tr>
                                        <td>Elżbieta Pacha</td>
                                        <td><a class="ticket-link" href="#"  onClick="loadContent('ticket_5444')">5444</a></td>
                                        <td style="text-align:center"><span class="label label-danger">&nbsp;</span></td>
                                        <td style="text-align:center"><span class="label label-success">Niski</span></td>
                                        <td>2016/01/25</td>
                                        <td></td> 
                                        <td>Kategoria 3</td> 
                                    </tr>
                                    <tr>
                                        <td>Jan Kowalski</td>
                                        <td><a class="ticket-link" href="#" onClick="loadContent('ticket_5444')">2351</a></td>
                                        <td style="text-align:center"><span class="label label-default">&nbsp;</span></td>
                                        <td style="text-align:center"><span class="label label-danger">Wysoki</span></td>
                                        <td>2016/01/30</td>
                                        <td></td>
                                        <td>Kategoria 1</td>   
                                    </tr>
                                    <tr>
                                        <td>Magdalena Nowak</td>
                                        <td><a class="ticket-link" href="#"  onClick="loadContent('ticket_5444')">3653</a></td>
                                        <td style="text-align:center"><span class="label label-warning">&nbsp;</span></td>
                                        <td style="text-align:center"><span class="label label-warning">Średni</span></td>
                                        <td>2016/01/27</td>
                                        <td></td>
                                        <td>Kategoria 2</td> 
                                    </tr>
                                    <tr>
                                        <td>Łukasz Szafraniec</td>
                                        <td><a class="ticket-link" href="#"  onClick="loadContent('ticket_5444')">6311</a></td>
                                        <td style="text-align:center"><span class="label" style="background: black;">&nbsp;</span></td>
                                        <td style="text-align:center"><span class="label label-danger">Wysoki</span></td>
                                        <td>2016/01/23</td>
                                        <td>2016/01/23</td> 
                                        <td>Kategoria 2</td> 
                                    </tr>
                                    <tr>
                                        <td>Elżbieta Pacha</td>
                                        <td><a class="ticket-link" href="#"  onClick="loadContent('ticket_5444')">5444</a></td>
                                        <td style="text-align:center"><span class="label label-danger">&nbsp;</span></td>
                                        <td style="text-align:center"><span class="label label-success">Niski</span></td>
                                        <td>2016/01/25</td>
                                        <td></td> 
                                        <td>Kategoria 3</td> 
                                    </tr>
                                    <tr>
                                        <td>Jan Kowalski</td>
                                        <td><a class="ticket-link" href="#" onClick="loadContent('ticket_5444')">2351</a></td>
                                        <td style="text-align:center"><span class="label label-default">&nbsp;</span></td>
                                        <td style="text-align:center"><span class="label label-danger">Wysoki</span></td>
                                        <td>2016/01/30</td>
                                        <td></td>
                                        <td>Kategoria 1</td>   
                                    </tr>
                                    <tr>
                                        <td>Jan Kowalski</td>
                                        <td><a class="ticket-link" href="#" onClick="loadContent('ticket_5444')">2352</a></td>
                                        <td style="text-align:center"><span class="label label-warning">&nbsp;</span></td>
                                        <td style="text-align:center"><span class="label label-success">Niski</span></td>
                                        <td>2016/01/27</td>
                                        <td></td>
                                        <td>Kategoria 2</td>   
                                    </tr>
                                    <tr>
                                        <td>Jan Kowalski</td>
                                        <td><a class="ticket-link" href="#" onClick="loadContent('ticket_5444')">2353</a></td>
                                        <td style="text-align:center"><span class="label"  style="background: black;">&nbsp;</span></td>
                                        <td style="text-align:center"><span class="label label-danger">Wysoki</span></td>
                                        <td>2016/01/23</td>
                                        <td>2016/01/23</td>
                                        <td>Kategoria 1</td>   
                                    </tr>
                                    <tr>
                                        <td>Jan Kowalski</td>
                                        <td><a class="ticket-link" href="#" onClick="loadContent('ticket_5444')">2354</a></td>
                                        <td style="text-align:center"><span class="label"  style="background: black;">&nbsp;</span></td>
                                        <td style="text-align:center"><span class="label label-danger">Wysoki</span></td>
                                        <td>2016/01/17</td>
                                        <td>2016/01/17</td>
                                        <td>Kategoria 1</td>   
                                    </tr>
                                </tbody>
                            </table>
                            <!-- /.table-responsive -->
                            
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

    <!-- DataTables JavaScript -->
    <script src="../vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="../vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="../vendor/datatables-responsive/dataTables.responsive.js"></script>
    <script>
        $(document).ready(function() {
            $('#dataTables-example').DataTable({
                responsive: true,
                "language": {
                "url": "partials/polish.json"
            }
            });
        });
    </script>